<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        div{
            width: 60%;
            height: 20vh;
            margin: 50px auto;
        }
        h1{
            color: green;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h1>Account Deleted Succesfully!</h1>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
       
        function sendRequestAfterDelay() {
            setTimeout(function() {
                window.location.href = '/login';
            }, 5000); 
        }
 
       
        window.onload = function() {
            sendRequestAfterDelay();
        };
    </script>
</body>
</html>