<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="/assets/img/Legal-Icon-01-768x768.png" type="image/x-icon">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />





    <title>Digital Assistant for Legal Awareness</title>
</head>

<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#home" class="nav__logo">
                <img src="/assets/img/Legal-Icon-01-768x768.png" alt="logo image">
                Digital Assistant for Legal Awareness
            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="#home" class="nav__link">Home</a>
                    </li>

                    <li class="nav__item">
                        <a href="#queries" class="nav__link ">Queries</a>
                    </li>

                    <li class="nav__item">
                        <a href="#aiAssistant" class="nav__link ">AI Assistant</a>
                    </li>

                    <li class="nav__item">
                        <a href="#laws" class="nav__link">Laws</a>
                    </li>

                    <!--  <i class="ri-shopping-cart-fill" id="shopping-cart"></i> -->

                </ul>

                <!--close button-->
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>


            </div>

            <div class="nav__buttons">
                <!--Theme change button -->
                <!-- <i class="ri-moon-line change-theme" id="theme-button"></i> -->

                <a href="/userPage">
                    <i class="ri-user-fill user_button"></i>
                </a>


                <!--Toggle button-->
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-apps-2-line"></i>
                </div>
            </div>
        </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== HOME ====================-->
        <section class="home section" id="home">
            <div class="home__container container grid">
                <img src="/assets/img/law.png" alt="home image" class="home__img">

                <div class="home__data">
                    <h1 class="home__title">
                        Access to Justice for All
                    </h1>

                    <p class="home__description">
                        Absence of legal awareness is the “root cause” of “deception, exploitation and deprivation” of
                        the rights and benefits of the masses
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        -Ranjan Gogoi
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;
                        (former chief justice of India)
                    </p>

                    <a href="#para" class="button" id="show_para">
                        Read more <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
            </div>

            <div class="home section" id="para">

                <p class="fade">
                    Awareness according to the Cambridge dictionary means “knowledge that somethings exist or
                    understanding of a situation or subject at the present time based on information or experience”.
                </p>
                <br>

                <p class="fade">
                    India is the second-largest populated country in the world. Mass of the Indian population is
                    illiterate and a major portion of the population does not know about the legal system prevailing in
                    the country and they are also unaware of their rights and duties. The literate population of the
                    country knows about fundamental rights granted to people by the Indian constitution but they don’t
                    know the difference between human rights and fundamental rights.
                </p>

                <br>

                <p class="fade">
                    The former chief justice of India Ranjan Gogoi addressing the valedictory function of the 17th All
                    India Meet of State Legal Services Authorities in Nagpur said that the absence of legal awareness is
                    the ‘root cause’ of “ deception, exploitation and deprivation” of the rights and benefits of the
                    Indian population. He also observed that “ awareness” is “Powerful Instruments” to bring social and
                    economic development.
                </p>

                <br>
                <p class="fade">
                    Attorney General Robert Kennedy on May 1, 1964, in Law Day Speech, said that “the poor man looks
                    upon the law as an enemy, not as a friend. For him, the law is always taking something away.”
                </p>

                <br>
                <p class="fade">
                    Awareness about the free legal aid services will no longer make the poor think the law as their
                    enemy. Free legal aid is given to that person who cannot afford the services of a lawyer for the
                    conduct of the case.
                </p>
                <br>

                <p class="fade">
                    If everyone will be aware of essentials for a valid contract, valid marriage according to different
                    laws the scenario will be different. Even the senior citizens do not know the maintenance and
                    welfare of parents and senior citizens act, 2007.
                </p>
                <br>

                <p class="fade">
                    “Ignorance of the law is not an excuse” under our legal system so everyone should be made aware of
                    the law of land.
                </p>


            </div>

        </section>



        <!--==================== ABOUT ====================-->
        <section class="about section" id="queries">
            <h1 class="normal__title">Common Legal Queries</h1>
            <div class="about__container container grid">
                <div class="about__data" id="Queries">
                    <h2 class="legalQuerries">
                        What are my rights as Citizen ?
                    </h2>
                    <h2 class="legalQuerries">
                        How can I file a complaint..?
                    </h2>
                    <h2 class="legalQuerries">
                        How can I obtain legal documentation?
                    </h2>
                    <h2 class="legalQuerries">
                        How can I access legal aid services ?
                    </h2>
                    <h2 class="legalQuerries">
                        What are the legal implication of a particular action ?
                    </h2>

                </div>
                <img src="/assets/img/OIP (2).jpg" alt="aboout image" class="about__img">
            </div>

            <div style="width: 80%; margin: 50px auto; height: 60vh;">

                <div class="letter" style="color: #a56d51;" id="page1">
                    <div class="content" id="paperContent">
                        <h2>What are my rights as a citizen?</h2>
                        <p>
                        <h3>Right to equality</h3>
                        The right to equality is one of the important fundamental rights of the Indian Constitution that
                        guarantees equal rights for everyone, irrespective of religion, gender, caste, race or place of
                        birth. It ensures equal employment opportunities in the government and insures against
                        discrimination by the State in matters of employment on the basis of caste, religion, etc. This
                        right also includes the abolition of titles as well as untouchability.
                        </p>

                        <p>
                        <h3> Right to Freedom</h3>
                        Freedom is one of the most important ideals cherished by any democratic society. The Indian
                        Constitution guarantees freedom to citizens. The freedom right includes many rights such as:
                        <br>
                        <ul>
                            <li>Freedom of speech</li>
                            <li>Freedom of expression</li>
                            <li>Freedom of assembly without arms</li>
                            <li>Freedom of association</li>
                            <li>Freedom to practise any profession</li>
                            <li>Freedom to reside in any part of the country</li>
                        </ul>
                        </p>
                    </div>

                    <div class="buttons">
                        <i class="ri-arrow-left-circle-fill invisible" id="previousPage"></i>
                        <i class="ri-arrow-right-circle-fill" id="nextPage"></i>
                    </div>
                </div>

            </div>


        </section>


        <section class="about section" id="aiAssistant" style=" margin-top: 120px;">
            <h1 class="normal__title">AI Assistant</h1>
            <div class="about__container container grid" style="margin-top: 5%;">
                <img src="/assets/img/OIP (3).jpg" alt="about image" class="chat_img">
                <div class="chat_area">
                    <h2 style="color: #1c243c; text-align: center; font-size: medium;">Need legal clarity or rights
                        guidance? Ask away!</h2>
                    <hr style="width: 90%; margin: 5px auto;">
                    <div class="chats">

                    </div>

                    <input type="text" name="prompt" id="inputPrompt">
                </div>
            </div>



        </section>



        <section class="about section" id="laws">
            <h1 class="normal__title">LAWS</h1>
            <p class="normal__para">The Constitution of India, 1950 is the foremost law that deals with the framework of
                the codes, procedures, fundamental rights and duties of citizens and powers, and duties of government.
                The laws in India are interconnected with each other forming a hybrid legal system.</p>
            <div class="recently__container container grid">
                <div class="recently__data">

                    <h2 class="section__title">
                        Criminal Law <br>

                    </h2>

                    <p class="recently__description">
                        Criminal law is concerned with laws pertaining to violations of the rule of law or public
                        wrongs. Criminal law is governed under the <a
                            href="https://en.wikipedia.org/wiki/Indian_Penal_Code" class="link"> <i>Indian Penal Code,
                                1860</i> </a> Indian Penal Code, 1860, and the <a class="link"
                            href="https://en.wikipedia.org/wiki/Code_of_Criminal_Procedure_(India)"> <i>Criminal
                                Procedure
                                Code, 1973</i> </a> . The Indian Penal Code, 1860 , defines the crime, its nature, and
                        punishments whereas
                        the Criminal Procedure Code, 1973, defines exhaustive procedure and punishments of the crimes.
                        <br>

                        Murder, rape, theft, and assault are all examples of criminal offences under the law.
                    </p>

                    <a href="https://blog.ipleaders.in/criminal-law-in-india/" class=" button small__button">
                        Read More<i class="ri-arrow-right-line"></i>
                    </a>


                </div>

                <img src="/assets/img/criminal_lawPic.jpg" alt="recently image" class="recently__img">
            </div>

            <div class="about__container container grid">
                <div class="about__data">

                    <h2 class="section__title about__title">
                        <div>
                            Civil Law

                        </div>


                    </h2>

                    <p class="about__description">
                        Matters of disputes between individuals or organisations are dealt with under Civil Law. Civil
                        courts enforce the violation of certain rights and obligations through the institution of a
                        civil suit. Civil law primarily focuses on dispute resolution rather than punishment. The act of
                        process and the administration of civil law are governed by the <a
                            href="https://en.wikipedia.org/wiki/Code_of_Civil_Procedure_(India)" class="link">
                            <i>Code of Civil Procedure, 1908</i>
                        </a> .
                        Civil law can be further classified into Tort law, Family Law, Property Law, and Contract law.
                        <br>

                        Some examples of civil law are defamation, breach of contract, and a dispute between landlord
                        and tenant.
                        <br><br>
                    </p>
                    <a href="https://blog.ipleaders.in/civil-law/" class=" button small__button">
                        Read More<i class="ri-arrow-right-line"></i>
                    </a>
                </div>

                <img src="/assets/img/civil_imgae.jpg" alt="aboout image" class="about__img">
            </div>

            <div class="recently__container container grid">
                <div class="recently__data">

                    <h2 class="section__title">
                        Common Law <br>

                    </h2>

                    <p class="recently__description">
                        A judicial precedent or a case law is common law. A law passed by the Supreme Court will be
                        obligatory upon the courts and within the territory of India under <a
                            href="https://www.legalserviceindia.com/legal/article-6023-doctrine-of-precedent-article-141-.html"
                            class="link"><i>Article 141</i></a> of the Indian Constitution. A common law theory, Natural
                        justice, often known as “Jus Natural,” encompasses statutory provisions for justice. Nemo judex
                        in causa sua (Rule against Prejudice), audi alteram partem (Rule of fair Hearing), and reasoned
                        decision are the rules of Natural Justice.
                    </p>

                    <a href="https://blog.ipleaders.in/common-law-apply-india/" class=" button small__button">
                        Read More<i class="ri-arrow-right-line"></i>
                    </a>


                </div>

                <img src="/assets/img/commonlaw.jpg" alt="recently image" class="recently__img">
            </div>

            <div class="about__container container grid">
                <div class="about__data">

                    <h2 class="section__title about__title">
                        <div>
                            Statutory Law

                        </div>


                    </h2>

                    <p class="about__description">
                        Statutory legislation refers to any written law approved by a legislative body to regulate the
                        conduct of its citizens. The Central Government makes laws through Parliament, the state
                        government makes laws through Vidhan Sabha, and the Local Government makes laws through
                        municipalities. A bill is introduced in the legislature and for it to become an act voted upon
                        by the members of both houses requires the assent of the President. The President of India has
                        veto powers over his assent.
                        <br><br>
                    </p>
                    <a href="https://planetoflaw.com/statutory-laws-in-india/" class=" button small__button">
                        Read More<i class="ri-arrow-right-line"></i>
                    </a>
                </div>

                <img src="/assets/img/slaw.jpg" alt="aboout image" class="about__img">
            </div>



        </section>



        <!-- <section class="popular section" id="popular">
           
            <h2 class="section__title">WHAT WE CAN DO</h2>

            <div class="popular__container container grid">
                <article class="popular__card">
                    <img src="/assets/img/popular-onigiri.jpg" alt="popular image" class="popular__img">
                    <h3 class="popular__name">
                        Embrace natural light</h3>
                    <span class="popular__description">Open up your curtains and let the sun shine in! Using natural
                        light whenever possible instead of relying on artificial light can greatly reduce the amount of
                        electricity you use during the day.The same is true whether you work in an office or spend your
                        days in your house. Exposure to natural light also increases happiness.</span>


                </article>

                <article class="popular__card">
                    <img src="/assets/img/freashwater-shutterstock_1288634614.jpg" alt="popular image"
                        class="popular__img">
                    <h3 class="popular__name">Change your bulbs</h3>
                    <span class="popular__description">Replacing regular incandescent light bulbs with compact
                        fluorescent (CFL) or LED bulbs is a big energy saver. Incandescent bulbs release 98% of their
                        consumed energy through heat, while CFL and LED bulbs are much more energy efficient and last
                        several times longer.</span>

                </article>

                <article class="popular__card">
                    <img src="/assets/img/popular-sushi-rolls.jpg" alt="popular image" class="popular__img">
                    <h3 class="popular__name">Turn off the lights</h3>
                    <span class="popular__description">This is the simplest, most common way to save electricity, and it
                        really works. Start paying attention to how many lights are on in your house at a given time. Be
                        mindful of how many lights you really need to be using at once. When you leave a room, make a
                        habit of turning off the lights, every single time. </span>
                </article>
                <article class="popular__card">
                    <img src="/assets/img/popular-sushi-rolls.jpg" alt="popular image" class="popular__img">
                    <h3 class="popular__name">Turn off the lights</h3>
                    <span class="popular__description">This is the simplest, most common way to save electricity, and it
                        really works. Start paying attention to how many lights are on in your house at a given time. Be
                        mindful of how many lights you really need to be using at once. When you leave a room, make a
                        habit of turning off the lights, every single time. </span>
                </article>
            </div>
        </section> -->




        <!--==================== POPULAR ====================-->
        <section class="popular section testimonial" id="popular">

            <h2 class="section__title">Our Testimonials</h2>





            <!-- <div class="slider">

                
                <div class="ele" id="reviewsSlides">

                    <p id="reviewData">asdasdasd</p>
                    <span id="reviewedBy">adasd</span>



                </div>
                
            </div> -->

            <div class="swiper mySwiper">
                <div class="swiper-wrapper">


                    <!-- <div class="swiper-slide">
                        <div class="testimonialBox">
                            <div class="content">
                                <p>
                                    Outstanding legal service! The website's chatbot is incredibly helpful, streamlining
                                    the process. The UI is intuitive, making navigation a breeze. Seamless experience
                                    from start to finish. Highly recommend for anyone seeking efficient and reliable
                                    legal assistance. A game-changer in the legal services landscape.
                                </p>
                                <div class="details">
                                    <div class="imgBx">
                                        <img src="/assets/img/userAvtar.png" alt="">
                                    </div>
                                    <h3>Raunak</h3>
                                </div>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>




            <button id="writeReviewButton" class="button reviewButton" style="margin-top: 20px;">Write a review</button>

            <br>

            <div id="reviewForm" style="display: none;">
                <textarea id="reviewContent" name="reviewContent" style="height: 30vh;"></textarea>
                <button type="submit" class="button small__button " id="reviewSubmitButton"
                    style="float: right;">Submit</button>

            </div>

            <div id="thanksMessage" style="display: none;">
                Thanks for the review!
            </div>





        </section>


        <!--==================== Order for  Home-Delivered Smiles ====================-->
        <section class="recently section" id="recently">
            <div class="recently__container container grid">
                <div class="recently__data">
                    <!-- <span class="section__title">Our Vision</span> -->
                    <h2 class="section__title">
                        Our Vision <br>

                    </h2>

                    <p class="recently__description">
                        To build an aware & empowered rural India that is aware of its constitutional rights as the
                        citizen of the fastest growing democracy.
                    </p>

                    <!---- <a href="#" class="button">
                            Order Now <i class="ri-arrow-right-line"></i>
                        </a>-->


                </div>

                <img src="/assets/img/1200px-Orcas_Island_aerial_view_EPA_o.jpg" alt="image" class="recently__img">
            </div>


        </section>


        <!--==================== ABOUT ====================-->
        <section class="about section" id="about">
            <div class="about__container container grid">
                <div class="about__data">
                    <!-- <span class="section__subtitle">Our Vision</span> -->
                    <h2 class="section__title about__title">
                        <div>
                            Our Mission

                        </div>


                    </h2>

                    <p class="about__description">
                        To become positive bridge between Government of India and Citizens by spreading awareness about
                        public policies that comprises government schemes, subsidies and support
                    </p>
                </div>

                <img src="/assets/img/ahmedabad-children-participate-in-an-awareness-307889.jpg" alt="image"
                    class="about__img">
            </div>


        </section>


    </main>



    <!--==================== FOOTER ====================-->
    <footer class="footer">
        <div class="footer__container container grid">
            <div>
                <a href="#" class="footer__logo">
                    <img src="/assets/img/logo.png" alt="logo png">
                    Digital Assistant for Legal Awareness
                </a>

                <p class="footer__description">
                    You have more power than you think and <br> we are here to help you realize that. <br>
                    You just have to Know Your Rights.
                </p>
            </div>

            <div class="footer__content">
                <div>
                    <h3 class="footer__title">Discover</h3>

                    <ul class="footer__links">
                        <li>
                            <a href="#about" class="footer__link">About</a>
                        </li>

                        <li>
                            <a href="#popular" class="footer__link">What we can do</a>
                        </li>

                        <li>
                            <a href="#" class="footer__link">Home</a>
                        </li>

                        <li>
                            <a href="#" class="footer__link">Our Vision
                            </a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">THEMES</h3>

                    <ul class="footer__links">
                        <li>
                            <a href="#" class="footer__link">Biodiversity</a>
                        </li>

                        <li>
                            <a href="#" class="footer__link">Business,<br>
                                finance and economics</a>
                        </li>

                        <li>
                            <a href="#" class="footer__link">Climate change</a>
                        </li>

                        <li>
                            <a href="#" class="footer__link">Freshwater <br>
                                and water security</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">Address/Contact Us</h3>

                    <ul class="footer__links">
                        <li class="footer__information">
                            Jalandhar - Delhi, Grand Trunk Rd, <br>
                            Phagwara,Punjab 144001 <br>
                            +91 1234567890
                        </li>

                        <li class="footer__information">
                            9AM - 11PM
                        </li>

                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">Social Media</h3>

                    <ul class="footer__social">
                        <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>

                        <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                            <i class="ri-instagram-fill"></i>
                        </a>

                        <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                            <i class="ri-twitter-fill"></i>
                        </a>
                    </ul>
                </div>

            </div>


        </div>

        <div class="contacttext">
            <br>
            <h2>Contact Us</h2>
            <p>Stay informed.</p>
        </div>
        <div class="contact-in">
            <div class="contact-map">
                <iframe
                    src="https://maps.google.com/maps?width=2048&amp;height=2048&amp;hl=en&amp;q=Jalandhar - Delhi, Grand Trunk Rd, Phagwara,Punjab 144001&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                </iframe>
            </div>
            <div class="contact-form">

                <form>
                    <input type="text" placeholder="Name" class="contact-form-txt" />
                    <input type="text" placeholder="Email" class="contact-form-txt" />
                    <textarea placeholder="Message" class="contact-form-textarea"></textarea>
                    <input type="submit" name="Submit" class="contact-form-btn" />
                </form>
            </div>
        </div>

        <div class="footer__info container">
            <div class="footer__card">
                <img src="/assets/img/footer-card-1.png" alt="footer image">
                <img src="/assets/img/PhonePe-Logo.wine.jpg" alt="footer image">
                <img src="/assets/img/footer-card-3.png" alt="footer image">
                <img src="/assets/img/Paytm-Logo.wine.jpg" alt="footer image">
            </div>

            <span class="footer__copy">
                &#169; Copyright Abhigyan. All rights reserved
            </span>
            <!-- <textarea name="" id="" cols="30" rows="10"></textarea> -->
        </div>
    </footer>


    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-line"></i>
    </a>

    <!--=============== SCROLLREVEAL ===============-->
    <script src="/assets/js/scrollreveal.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="/assets/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>

    <script src="/assets/js/pageChange.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
        // let reviwSubmit = false;
        // document.querySelector(".reviewButton").addEventListener("click", function () {
        // if (reviwSubmit) {
        //     return

        // }
        // reviwSubmit = true;
        // let a = document.createElement("textarea");

        // a.style.width = "60%";
        // a.style.height = "20vh";

        // document.querySelector(".testimonials").appendChild(a);

        // this.innerHTML = "Submit";
        // })

        document.getElementById("writeReviewButton").addEventListener("click", function () {
            // Toggle the display of the review form
            var reviewForm = document.getElementById("reviewForm");
            if (reviewForm.style.display === "none") {
                reviewForm.style.display = "block";
            } else {
                reviewForm.style.display = "none";
            }
        });


        document.getElementById("reviewSubmitButton").addEventListener("click", function () {
            let review = document.getElementById("reviewContent").value;
            if (review === "") {
                return;
            }
            axios.post('/submitReview', {
                review: review,
            }).then(() => {
                document.getElementById("writeReviewButton").style.display = "none";
                document.getElementById("reviewForm").style.display = "none";
                document.getElementById("thanksMessage").style.display = "block";

                document.getElementById("thanksMessage").scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' });


            }).catch((e) => {
                console.log(e);
            })

        })
        // document.getElementById("reviewSubmitForm").addEventListener("submit", function (event) {
        //     // // Prevent the default form submission behavior
        //     // event.preventDefault();

        //     // Hide the review button
        //     document.getElementById("writeReviewButton").style.display = "none";

        //     // Show the thanks message
        //     document.getElementById("thanksMessage").style.display = "block";
        // });


        document.querySelector("#inputPrompt").addEventListener("keydown", function (e) {
            if (e.key == "Enter") {

                let userChat = document.createElement("span");
                userChat.innerText = this.value;
                userChat.classList.add('userChat');
                // this.value = "";

                const promptPatter = `suppose you are a chat bot for legal assistance and for legal and human rights kindly help the human for indian rights to resolve his issues, and be precise with the answers that will be given. say  "irrelevant Topic" if the conversation seems irrelevant `;

                let userPrompt = promptPatter + this.value;

                document.querySelector(".chats").appendChild(userChat);
                userChat.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' });
                axios.post('/api/chat', {
                    prompt: userPrompt,
                })
                    .then(function (response) {
                        console.log(response.data);
                        let promptChat = document.createElement("span");
                        promptChat.innerHTML = response.data;
                        promptChat.classList.add("prompt_chat")
                        document.querySelector(".chats").appendChild(promptChat);
                        promptChat.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' });

                    })
                    .catch(function (error) {
                        console.log(error);
                    });

                this.value = "";
            }

        })

        async function getReviews() {
            try {
                const response = await axios.get('/api/getRandomReviews');
                console.log('Data fetched:', response.data);
                // console.log(typeof (response))



                // let c = 0;

                // let r = document.getElementById("reviewData");
                // let b = document.getElementById("reviewedBy");
                // setInterval(() => {
                //     if (c == 5) {
                //         c = 0;
                //     }
                //     r.innerHTML = response.data[c].review;
                //     b.innerHTML = `-- <i>${response.data[c].name}</i>`
                //     c++;

                // }, 3000)

                for (let i = 0; i < 10; i++) {

                    let html = `<div class="swiper-slide ">
                        <div class="testimonialBox">
                            <div class="content">
                                <p >
                                    ${response.data[i].review}
                                </p>
                                <div class="details">
                                    <div class="imgBx">
                                        <img src="/assets/img/userAvtar.png" alt="">
                                    </div>
                                    <h3>${response.data[i].name}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    `

                    document.querySelector(".swiper-wrapper").innerHTML += html;

                }

                var swiper = new Swiper(".mySwiper", {
                    effect: "coverflow",
                    grabCursor: true,
                    centeredSlides: true,
                    slidesPerView: 4,
                    initialSlide: 4,
                    coverflowEffect: {
                        rotate: 0,
                        stretch: 0,
                        depth: 100,
                        modifier: 2,
                        slideShadows: true,
                    },
                    loop: true,
                });





            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }


        window.addEventListener("load", getReviews);







    </script>

</body>

</html>